In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import sklearn
warnings.filterwarnings("ignore")

In [2]:
df= pd.read_csv("DATASET_IKAN.csv")

In [3]:
df.describe()

,Usia_Mesin_Bulan,Jam_Operasi_Harian,Beban_Muatan_Kg,Suhu_Eksternal_C,Getaran_Mesin_Hz
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,20.575000,16.320000,367.760000,32.345000,19.190000
std,12.026954,4.631941,105.992331,2.906582,8.259236
min,1.000000,8.000000,180.000000,28.000000,5.000000
25%,9.000000,12.000000,274.000000,30.000000,12.750000
50%,22.000000,16.000000,367.000000,32.000000,19.000000
75%,32.000000,20.000000,452.500000,35.000000,27.000000
max,40.000000,24.000000,550.000000,38.000000,34.000000

In [4]:
start_col = 0
end_col = 4

x = df.iloc[:, start_col:end_col+1]
y = df.iloc[:, 5]

In [5]:
y

0                   Optimal
1      Perawatan_Diperlukan
2                   Optimal
3                   Optimal
4      Perawatan_Diperlukan
               ...
195    Perawatan_Diperlukan
196    Perawatan_Diperlukan
197    Perawatan_Diperlukan
198    Perawatan_Diperlukan
199                 Optimal
Name: Status_Perawatan, Length: 200, dtype: object

In [6]:
x

,Usia_Mesin_Bulan,Jam_Operasi_Harian,Beban_Muatan_Kg,Suhu_Eksternal_C,Getaran_Mesin_Hz
0,15,23,406,30,5
1,15,14,474,35,24
2,40,24,378,33,5
3,14,17,283,38,21
4,33,18,274,31,19
...,...,...,...,...,...
195,32,22,417,29,22
196,34,16,234,36,17
197,37,24,267,28,30
198,39,24,293,36,32
199,13,10,443,37,30

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=0, test_size=0.1)

In [8]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [9]:
import sklearn.metrics


y_predict = clf.predict(x_test)
akurasi = sklearn.metrics.accuracy_score(y_test, y_predict)

In [10]:
print(x_test)
print(akurasi)

     Usia_Mesin_Bulan  Jam_Operasi_Harian  Beban_Muatan_Kg  Suhu_Eksternal_C  \
18                 14                  20              191                31
170                 8                  14              390                29
107                28                  22              279                32
98                  1                  16              550                35
177                 9                  17              279                34
182                29                  16              180                31
5                   4                  23              235                35
146                11                   8              299                32
12                 33                  16              244                29
152                17                  12              289                36
61                 33                  18              467                35
125                32                   9              270                29
180                39                  11              476                35
154                24                  13              299                30
80                 39                  24              336                31
7                  13                  12              354                30
33                 11                  11              333                30
130                 9                  14              541                33
37                  9                  13              246                31
74                 22                  23              533                38

     Getaran_Mesin_Hz
18                 28
170                32
107                25
98                 24
177                26
182                19
5                   8
146                 8
12                  7
152                18
61                 27
125                27
180                34
154                17
80                 22
7                  21
33                 32
130                 9
37                 28
74                 10
0.95

In [11]:
df=pd.read_csv("DATASET_IKAN.csv")

In [12]:
df

,Usia_Mesin_Bulan,Jam_Operasi_Harian,Beban_Muatan_Kg,Suhu_Eksternal_C,Getaran_Mesin_Hz,Status_Perawatan
0,15,23,406,30,5,Optimal
1,15,14,474,35,24,Perawatan_Diperlukan
2,40,24,378,33,5,Optimal
3,14,17,283,38,21,Optimal
4,33,18,274,31,19,Perawatan_Diperlukan
...,...,...,...,...,...,...
195,32,22,417,29,22,Perawatan_Diperlukan
196,34,16,234,36,17,Perawatan_Diperlukan
197,37,24,267,28,30,Perawatan_Diperlukan
198,39,24,293,36,32,Perawatan_Diperlukan
199,13,10,443,37,30,Optimal

In [13]:
x = df.iloc[:, start_col:end_col+1]
nama = df.iloc[:, 0]

In [14]:
x

,Usia_Mesin_Bulan,Jam_Operasi_Harian,Beban_Muatan_Kg,Suhu_Eksternal_C,Getaran_Mesin_Hz
0,15,23,406,30,5
1,15,14,474,35,24
2,40,24,378,33,5
3,14,17,283,38,21
4,33,18,274,31,19
...,...,...,...,...,...
195,32,22,417,29,22
196,34,16,234,36,17
197,37,24,267,28,30
198,39,24,293,36,32
199,13,10,443,37,30

In [15]:
nama

0      15
1      15
2      40
3      14
4      33
       ..
195    32
196    34
197    37
198    39
199    13
Name: Usia_Mesin_Bulan, Length: 200, dtype: int64

In [16]:
y_predict = clf.predict(x)

In [17]:
nama= pd.DataFrame(nama)
nama=nama.reset_index(drop=True)
nama['ID']=nama.index+0
ey = pd.DataFrame(nama)

y_predict=pd.DataFrame(y_predict)
y_predict = y_predict.reset_index(drop=True)
y_predict['ID']=y_predict.index+0

ex = pd.DataFrame(y_predict)

In [18]:
ex.describe

<bound method NDFrame.describe of                         0   ID
0                 Optimal    0
1    Perawatan_Diperlukan    1
2                 Optimal    2
3                 Optimal    3
4    Perawatan_Diperlukan    4
..                    ...  ...
195  Perawatan_Diperlukan  195
196  Perawatan_Diperlukan  196
197  Perawatan_Diperlukan  197
198  Perawatan_Diperlukan  198
199               Optimal  199

[200 rows x 2 columns]>

In [19]:
ey.describe

<bound method NDFrame.describe of      Usia_Mesin_Bulan   ID
0                  15    0
1                  15    1
2                  40    2
3                  14    3
4                  33    4
..                ...  ...
195                32  195
196                34  196
197                37  197
198                39  198
199                13  199

[200 rows x 2 columns]>

In [20]:
result = pd.merge(ex, ey, on='ID', how='inner')

In [21]:
result.to_excel("hasil_prediksi5.xlsx", index=False)